
<section class="pricing-area pt-100 pb-75 dotted-bg bg-f4d9d3">
    <div class="container">
      <div class="section-title">
        <span class="sub-title">{{ currentLang.subTitle }}</span>
        <br>
        <h3><strong>{{ currentLang.heading }}</strong></h3>
        
        <p>{{ currentLang.description }}</p>
      </div>
  
      <div class="pricing-tabs">
        <tabset>
          <tab [heading]="currentLang.tabTitle">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6">
                <div class="single-pricing-box mb-25">
                  <div class="pricing-header">
                    <h4>{{ currentLang.plan1.title }}</h4>
                    <p>{{ currentLang.plan1.subtitle }}</p>
                  </div>
                  <div class="price">
                    {{ currentLang.plan1.price }}<small>/{{ currentLang.plan1.period }}</small>
                  </div>
                  <a routerLink="/contact" class="default-btn">{{ currentLang.plan1.cta }}</a>
                  <ul class="list-unstyled">
                    <li>{{ currentLang.plan1.bullet1 }}</li>
                    <li>{{ currentLang.plan1.bullet2 }}</li>
                  </ul>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                <div class="single-pricing-box mb-25">
                  <div class="pricing-header">
                    <h4>{{ currentLang.plan2.title }}</h4>
                    <p>{{ currentLang.plan2.subtitle }}</p>
                  </div>
                  <div class="price">
                    {{ currentLang.plan2.price }}<small>/{{ currentLang.plan2.period }}</small>
                  </div>
                  <a routerLink="/contact" class="default-btn">{{ currentLang.plan2.cta }}</a>
                  <ul class="list-unstyled">
                    <li>{{ currentLang.plan2.bullet1 }}</li>
                    <li>{{ currentLang.plan2.bullet2 }}</li>
                  </ul>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                <div class="single-pricing-box mb-25">
                  <div class="pricing-header">
                    <h4>{{ currentLang.plan3.title }}</h4>
                    <p>{{ currentLang.plan3.subtitle }}</p>
                  </div>
                  <div class="price">
                    {{ currentLang.plan3.price }}<small>/{{ currentLang.plan3.period }}</small>
                  </div>
                  <a routerLink="/contact" class="default-btn">{{ currentLang.plan3.cta }}</a>
                  <ul class="list-unstyled">
                    <li>{{ currentLang.plan3.bullet1 }}</li>
                    <li>{{ currentLang.plan3.bullet2 }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </section>