
  <aside class="widget-area">
    <div class="widget widget_search">
      <form>
        <input
          type="search"
          class="search-field"
          [placeholder]="currentLang.searchPlaceholder"
        />
        <button type="submit"><i class="flaticon-search"></i></button>
      </form>
    </div>
  
    <div class="widget widget_loxi_posts_thumb">
      <h3 class="widget-title">{{ currentLang.latestPosts }}</h3>
      <article class="item" *ngFor="let post of posts">
        <a routerLink="/blog-details" class="thumb">
          <img [src]="post.img" [alt]="post.alt || 'blog-image'" />
        </a>
        <div class="info">
          <span class="date">{{ post.date }}</span>
          <h4 class="title">
            <a routerLink="/blog-details">{{ post.title }}</a>
          </h4>
        </div>
      </article>
    </div>
  
    <div class="widget widget_categories">
      <h3 class="widget-title">{{ currentLang.categories }}</h3>
      <ul>
        <li *ngFor="let cat of currentLang.categoriesList">
          <a routerLink="/blog-grid">
            {{ cat.label }} <span class="count">({{ cat.count }})</span>
          </a>
        </li>
      </ul>
    </div>
  
    <div class="widget widget_follow_us">
      <h3 class="widget-title">{{ currentLang.followUs }}</h3>
      <ul>
        <li *ngFor="let soc of currentLang.socialLinks">
          <a [href]="soc.url" target="_blank">{{ soc.label }}</a>
        </li>
      </ul>
    </div>
  
    <div class="widget widget_tag_cloud">
      <h3 class="widget-title">{{ currentLang.tags }}</h3>
      <div class="tagcloud">
        <a
          routerLink="/blog-grid"
          *ngFor="let tag of currentLang.tagList"
          >{{ tag }}</a
        >
      </div>
    </div>
  </aside>