
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
      <div class="page-banner-content">
        <h1>{{ currentLang.pageTitle }}</h1>
        <ul class="meta">
          <li><a routerLink="/">{{ currentLang.home }}</a></li>
          <li>{{ currentLang.pageTitle }}</li>
        </ul>
      </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1" /></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2" /></div>
  </div>
  
  <div class="pricing-area pt-100 pb-75 dotted-bg bg-f4f4f4">
    <div class="container">
      <div class="section-title">
        <h2>{{ currentLang.sectionTitle }}</h2>
        <p>{{ currentLang.sectionDesc }}</p>
      </div>
  
      <div class="pricing-tabs">
        <tabset>
          <tab [heading]="currentLang.monthlyTab">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let plan of monthlyPlans">
                <div class="single-pricing-box mb-25">
                  <div class="pricing-header">
                    <h4>{{ plan.name }}</h4>
                    <p>{{ plan.desc }}</p>
                  </div>
                  <div class="price">
                    {{ plan.price }} USD/<span>{{ currentLang.month }}</span>
                  </div>
                  <a routerLink="/contact" class="default-btn">{{ currentLang.getStarted }}</a>
                  <span class="sub-title">{{ currentLang.included }}</span>
                  <ul class="list-unstyled mb-0">
                    <li *ngFor="let item of plan.features" [class.inactive]="!item.active">
                      {{ item.text }}
                    </li>
                  </ul>
                  <span class="popular" *ngIf="plan.popular">{{ currentLang.popular }}</span>
                  <img src="assets/images/shape/shape5.png" alt="shape" class="shape" />
                </div>
              </div>
            </div>
          </tab>
  
          <tab [heading]="currentLang.yearlyTab">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let plan of yearlyPlans">
                <div class="single-pricing-box mb-25">
                  <div class="pricing-header">
                    <h4>{{ plan.name }}</h4>
                    <p>{{ plan.desc }}</p>
                  </div>
                  <div class="price">
                    {{ plan.price }} USD/<span>{{ currentLang.year }}</span>
                  </div>
                  <a routerLink="/contact" class="default-btn">{{ currentLang.getStarted }}</a>
                  <span class="sub-title">{{ currentLang.included }}</span>
                  <ul class="list-unstyled mb-0">
                    <li *ngFor="let item of plan.features" [class.inactive]="!item.active">
                      {{ item.text }}
                    </li>
                  </ul>
                  <span class="popular" *ngIf="plan.popular">{{ currentLang.popular }}</span>
                  <img src="assets/images/shape/shape5.png" alt="shape" class="shape" />
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>