
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
      <div class="page-banner-content">
        <h1>{{ currentLang.pageTitle }}</h1>
        <ul class="meta">
          <li><a routerLink="/">{{ currentLang.home }}</a></li>
          <li>{{ currentLang.pageTitle }}</li>
        </ul>
      </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1" /></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2" /></div>
  </div>
  
  <div class="profile-authentication-area ptb-100">
    <div class="container">
      <div class="forgot-password-box">
        <p>{{ currentLang.description }}</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <label>{{ currentLang.label }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            [placeholder]="currentLang.placeholder"
          />
          <button type="submit" class="default-btn" [disabled]="form.invalid">
            {{ currentLang.btn }}
          </button>
        </form>
      </div>
    </div>
  </div>