
<div class="page-banner-area dotted-bg bg-fbecd7">
  <div class="container">
    <div class="page-banner-content">
      <h1>{{ currentLang.pageTitle }}</h1>
      <ul class="meta">
        <li><a routerLink="/">{{ currentLang.home }}</a></li>
        <li>{{ currentLang.pageTitle }}</li>
      </ul>
    </div>
  </div>
  <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1" /></div>
  <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2" /></div>
</div>

<div class="services-area pt-100 pb-75 dotted-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let s of services">
        <div class="single-service-box mb-25">
          <div class="icon"><i class="{{ s.icon }}"></i></div>
          <h4><a routerLink="/services">{{ s.title }}</a></h4>
          <p>{{ s.desc }}</p>
          <!-- <a routerLink="/service-details" class="link-btn">
            {{ currentLang.viewMore }} <i class="flaticon-right-up"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>