<!-- 
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
      <div class="page-banner-content">
        <h1>{{ currentLang.pageTitle }}</h1>
        <ul class="meta">
          <li><a routerLink="/">{{ currentLang.home }}</a></li>
          <li>{{ currentLang.feedback }}</li>
        </ul>
      </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
  </div>
  
  <div class="feedback-area dotted-bg pt-100 pb-75">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let c of currentLang.feedbacks">
          <div class="single-feedback-box mb-25">
            <i class="flaticon-quotes"></i>
            <p>{{ c.comment }}</p>
            <div class="client-info">
              <h4>{{ c.name }}</h4>
              <span>{{ c.role }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
      <div class="page-banner-content">
        <h1>{{ currentLang.pageTitle }}</h1>
        <ul class="meta">
          <li><a routerLink="/">{{ currentLang.home }}</a></li>
          <li>{{ currentLang.feedback }}</li>
        </ul>
      </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1" /></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2" /></div>
  </div>
  
  <!-- Feedback -->
  <div class="feedback-area dotted-bg pt-100 pb-75">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-lg-4 col-md-6 col-sm-6"
          *ngFor="let c of currentLang.feedbacks"
        >
          <div class="single-feedback-box mb-25">
            <i class="flaticon-quotes"></i>
            <p>{{ c.comment }}</p>
            <div class="client-info">
              <h4>{{ c.name }}</h4>
              <span>{{ c.role }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>