
  <div class="expertise-area pb-100 dotted-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="expertise-image">
            <img src="assets/images/expertise.jpg" [alt]="currentLang.imgAlt">
          </div>
        </div>
  
        <div class="col-lg-6 col-md-12">
          <div class="expertise-content">
            <span class="sub-title">{{ currentLang.subTitle }}</span>
            <h2>{{ currentLang.heading }}</h2>
            <p>{{ currentLang.description }}</p>
  
            <ul class="features-list">
              <li>
                <div class="icon"><i class="flaticon-boost"></i></div>
                <h4>{{ currentLang.feature1Title }}</h4>
                <p>{{ currentLang.feature1Desc }}</p>
              </li>
              <li>
                <div class="icon"><i class="flaticon-business-idea"></i></div>
                <h4>{{ currentLang.feature2Title }}</h4>
                <p>{{ currentLang.feature2Desc }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>