
  <section class="blog-area pt-100 pb-75 dotted-bg">
    <div class="container">
      <div class="section-title">
        <span class="sub-title">{{ currentLang.subTitle }}</span>
        <br>
        <h3><strong>{{ currentLang.title }}</strong></h3>
        
        <p>{{ currentLang.description }}</p>
      </div>
  
      <div class="row justify-content-center">

        <div class="col-lg-4 col-md-6">
          <div class="single-blog-post mb-25">
            <a routerLink="/blog/1" class="image d-block">
              <img src="assets/images/0__1LmpV4ynBsPaITU.png" [alt]="currentLang.art1.alt">
            </a>
            <div class="content">
              <div class="date">{{ currentLang.art1.day }} <span>{{ currentLang.art1.month }}</span></div>
              <h4><a routerLink="/blog/1">{{ currentLang.art1.title }}</a></h4>
              <p>{{ currentLang.art1.excerpt }}</p>
              <a routerLink="/blog/1" class="link-btn">{{ currentLang.readMore }}</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6">
          <div class="single-blog-post mb-25">
            <a routerLink="/blog/2" class="image d-block">
              <img src="assets/images/téléchargement.jpeg" [alt]="currentLang.art2.alt">
            </a>
            <div class="content">
              <div class="date">{{ currentLang.art2.day }} <span>{{ currentLang.art2.month }}</span></div>
              <h4><a routerLink="/blog/2">{{ currentLang.art2.title }}</a></h4>
              <p>{{ currentLang.art2.excerpt }}</p>
              <a routerLink="/blog/2" class="link-btn">{{ currentLang.readMore }}</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6">
          <div class="single-blog-post mb-25">
            <a routerLink="/blog/3" class="image d-block">
              <img src="assets/images/téléchargement (1).jpeg" [alt]="currentLang.art3.alt">
            </a>
            <div class="content">
              <div class="date">{{ currentLang.art3.day }} <span>{{ currentLang.art3.month }}</span></div>
              <h4><a routerLink="/blog/3">{{ currentLang.art3.title }}</a></h4>
              <p>{{ currentLang.art3.excerpt }}</p>
              <a routerLink="/blog/3" class="link-btn">{{ currentLang.readMore }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>