<!-- <div class="main-banner-area">
    <div class="container-fluid">
        <div class="main-banner-content">
            <span class="sub-title">
               
              
                   <span class="a-a">HAKIM CHAABANI</span>
                  
                <section class="hero">
                    
                    <h2>Développeur Full-Stack en Suisse Romande</h2>
                    <p>
                      Je crée des applications web modernes, des interfaces intuitives et des solutions robustes en **Angular, Spring Boot et WordPress**.  
                      Disponible pour vos projets, formations et collaborations.
                    </p>
                    <div>
                    <a routerLink="/projets" class="btn-primary">Découvrir mes projets</a></div>
                    <div>
                    <a routerLink="/cours" class="btn-secondary">Voir mes cours</a></div>
                  </section>
         
            </span>
            
            <a routerLink="/about" class="default-btn">Discover More <i class="flaticon-right-up"></i></a>
        </div>
        <div class="main-banner-image text-center one">
            <img src="assets/images/banner/banner1.png" alt="banner-image">
        </div>
        <div class="main-banner-image text-center two">
            <img src="assets/images/banner/banner2.png" alt="banner-image">
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>






 -->
 <div class="main-banner-area">
  <div class="container-fluid">
    <div class="main-banner-content">
      <span class="sub-title">
        <span class="a-a">{{ currentLang.name }}</span>
<br>
        <section class="hero">
          <h2>{{ currentLang.subtitle }}</h2>
          <p [innerHTML]="currentLang.description"></p>
<br>
          <div>
           <strong><i><a routerLink="/projets" class="btn-primary">{{ currentLang.btnProjects }}</a></i> </strong>
          </div>
          <br>
          <div>
          <strong> <i>  <a routerLink="/cours" class="btn-secondary">{{ currentLang.btnCourses }}</a></i> </strong>
          </div>
        </section>
      </span>

      <a routerLink="/about" class="default-btn">
        {{ currentLang.btnDiscover }} <i class="flaticon-right-up"></i>
      </a>
    </div>

    <div class="main-banner-image text-center one">
      <img src="assets/images/banner/banner1.png" [alt]="currentLang.bannerAlt1" />
    </div>
    <div class="main-banner-image text-center two">
      <img src="assets/images/banner/banner2.png" [alt]="currentLang.bannerAlt2" />
    </div>
  </div>

  <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1" /></div>
  <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2" /></div>
</div>