<!-- <div
    class="why-choose-us-area ptb-100 dotted-bg bg-fbecd7"
    [ngClass]="{'d-none': router.url === '/index-3' || router.url === '/index-4'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-content">
                    <span class="sub-title">Pourquoi me choisir ?</span>
               
                    <section class="why-choose-us-area">
                        <div class="row">
                          <div class="col-lg-4">
                            <h4>Stack Complète</h4>
                            <p>Angular, Spring Boot, MySQL – applications robustes et évolutives.</p>
                          </div>
                          <div class="col-lg-4">
                            <h4>Multilingue & Disponible</h4>
                            <p>Français C1, Anglais B2, Arabe natif – communication fluide et rapide.</p>
                          </div>
                          <div class="col-lg-4">
                            <h4>Suisse Romande</h4>
                            <p>Basé à Nyon – projets immédiats, formations sur mesure, disponible sur site.</p>
                          </div>
                        </div>
                      </section>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-image">
                    <img src="assets/images/why-choose-us.jpg" alt="why-choose-us-image">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Default Why Choose Us Section -->
<div
  class="why-choose-us-area ptb-100 dotted-bg bg-fbecd7"
  [ngClass]="{'d-none': router.url === '/index-3' || router.url === '/index-4'}"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="why-choose-us-content">
          <span class="sub-title">{{ currentLang.subTitle }}</span>

          <section class="why-choose-us-area">
            <div class="row">
              <div class="col-lg-4" *ngFor="let card of currentLang.cards">
                <h4>{{ card.title }}</h4>
                <p>{{ card.desc }}</p>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="why-choose-us-image">
          <img [src]="currentLang.imgSrc" [alt]="currentLang.imgAlt" />
        </div>
      </div>
    </div>
  </div>
</div>