
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
      <div class="page-banner-content">
        <h1>{{ currentLang.pageTitle }}</h1>
        <ul class="meta">
          <li><a routerLink="/">{{ currentLang.home }}</a></li>
          <li>{{ currentLang.pageTitle }}</li>
        </ul>
      </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1" /></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2" /></div>
  </div>
  
  <div class="terms-conditions-area ptb-100">
    <div class="container">
      <div class="terms-conditions-content">
        <p [innerHTML]="currentLang.intro"></p>
  
        <h4>{{ currentLang.refundsTitle }}</h4>
        <p [innerHTML]="currentLang.refundsText"></p>
        <ul>
          <li *ngFor="let item of currentLang.refundsList">{{ item }}</li>
        </ul>
  
        <h4>{{ currentLang.deliveryTitle }}</h4>
        <p [innerHTML]="currentLang.deliveryText"></p>
        <ul>
          <li *ngFor="let item of currentLang.deliveryList">{{ item }}</li>
        </ul>
        <p [innerHTML]="currentLang.deliveryNote"></p>
  
        <h4>{{ currentLang.updatesTitle }}</h4>
        <p>{{ currentLang.updatesText }}</p>
  
        <h4>{{ currentLang.modificationsTitle }}</h4>
        <p>{{ currentLang.modificationsText }}</p>
  
        <h4>{{ currentLang.unauthorizedTitle }}</h4>
        <p [innerHTML]="currentLang.unauthorizedText"></p>
  
        <h4>{{ currentLang.licensingTitle }}</h4>
        <p>{{ currentLang.licensingText }}</p>
  
        <h4>{{ currentLang.supportTitle }}</h4>
        <p [innerHTML]="currentLang.supportText"></p>
  
        <h4>{{ currentLang.proprietaryTitle }}</h4>
        <p [innerHTML]="currentLang.proprietaryText"></p>
  
        <h4>{{ currentLang.antiFraudTitle }}</h4>
        <p>{{ currentLang.antiFraudText }}</p>
  
        <h4>{{ currentLang.priceChangesTitle }}</h4>
        <p>{{ currentLang.priceChangesText }}</p>
  
        <h4>{{ currentLang.warrantyTitle }}</h4>
        <p [innerHTML]="currentLang.warrantyText"></p>
  
        <p>{{ currentLang.finalClause }}</p>
      </div>
    </div>
  </div>