<!-- <div
    class="partner-area bg-black"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <div class="partner-item mb-25 text-center">
                    <img src="assets/images/partner/partner1.png" alt="partner-image">
                </div>
            </div>
            <div class="col">
                <div class="partner-item mb-25 text-center">
                    <img src="assets/images/partner/partner2.png" alt="partner-image">
                </div>
            </div>
            <div class="col">
                <div class="partner-item mb-25 text-center">
                    <img src="assets/images/partner/partner3.png" alt="partner-image">
                </div>
            </div>
            <div class="col">
                <div class="partner-item mb-25 text-center">
                    <img src="assets/images/partner/partner4.png" alt="partner-image">
                </div>
            </div>
            <div class="col">
                <div class="partner-item mb-25 text-center">
                    <img src="assets/images/partner/partner5.png" alt="partner-image">
                </div>
            </div>
            <div class="col">
                <div class="partner-item mb-25 text-center">
                    <img src="assets/images/partner/partner6.png" alt="partner-image">
                </div>
            </div>
            <div class="col">
                <div class="partner-item mb-25 text-center">
                    <img src="assets/images/partner/partner7.png" alt="partner-image">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Default Partner Section -->
<div
  class="partner-area bg-black"
  [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col" *ngFor="let p of currentLang.partners">
        <div class="partner-item mb-25 text-center">
          <img [src]="p.logo" [alt]="p.alt" />
        </div>
      </div>
    </div>
  </div>
</div>
