<!-- <div class="faq-area pb-100 dotted-bg">
    <div class="container">
      <div class="section-title text-center">
        <h2>{{ 'FAQ.TITLE' | translate }}</h2>
      </div>
  
      <div class="faq-accordion">
        <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
          <accordion-group [heading]="'FAQ.Q1_TITLE' | translate" [isOpen]="isFirstOpen">
            <p>{{ 'FAQ.Q1_CONTENT' | translate }}</p>
          </accordion-group>
  
          <accordion-group [heading]="'FAQ.Q2_TITLE' | translate">
            <p>{{ 'FAQ.Q2_CONTENT' | translate }}</p>
          </accordion-group>
  
          <accordion-group [heading]="'FAQ.Q3_TITLE' | translate">
            <p>{{ 'FAQ.Q3_CONTENT' | translate }}</p>
          </accordion-group>
  
          <accordion-group [heading]="'FAQ.Q4_TITLE' | translate">
            <p>{{ 'FAQ.Q4_CONTENT' | translate }}</p>
          </accordion-group>
  
          <accordion-group [heading]="'FAQ.Q5_TITLE' | translate">
            <p>{{ 'FAQ.Q5_CONTENT' | translate }}</p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div> -->
  <div class="faq-area pb-100 dotted-bg">
    <div class="container">
      <div class="section-title text-center">
        <h2>{{ currentLang.title }}</h2>
      </div>
  
      <div class="faq-accordion">
        <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
          <accordion-group
            *ngFor="let q of currentLang.questions; let i = index"
            [heading]="q.title"
            [isOpen]="i === 0 && isFirstOpen">
            <p>{{ q.content }}</p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>