
  <div class="faq-area pb-100 dotted-bg">
    <div class="container">
      <div class="section-title text-center">
        <h2>{{ currentLang.title }}</h2>
      </div>
  
      <div class="faq-accordion">
        <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
          <accordion-group
            *ngFor="let q of currentLang.questions; let i = index"
            [heading]="q.title"
            [isOpen]="i === 0 && isFirstOpen">
            <p>{{ q.content }}</p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>