
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
      <div class="page-banner-content">
        <h1>{{ currentLang.pageTitle }}</h1>
        <ul class="meta">
          <li><a routerLink="/">{{ currentLang.home }}</a></li>
          <li>{{ currentLang.pageTitle }}</li>
        </ul>
      </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1" /></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2" /></div>
  </div>
  
  <div class="privacy-policy-area ptb-100">
    <div class="container">
      <div class="privacy-policy-content">
        <p><strong>{{ currentLang.lastUpdated }}</strong></p>
        <p [innerHTML]="currentLang.intro1"></p>
        <p [innerHTML]="currentLang.intro2"></p>
  
        <h4>{{ currentLang.infoWeCollectTitle }}</h4>
        <p [innerHTML]="currentLang.infoWeCollectText"></p>
  
        <h4>{{ currentLang.howWeCollectTitle }}</h4>
        <p>{{ currentLang.howWeCollectText1 }}</p>
        <p>{{ currentLang.howWeCollectText2 }}</p>
  
        <h4>{{ currentLang.howWeUseTitle }}</h4>
        <p [innerHTML]="currentLang.howWeUseText"></p>
  
        <h4>{{ currentLang.whenWeDiscloseTitle }}</h4>
        <p [innerHTML]="currentLang.whenWeDiscloseText"></p>
  
        <h4>{{ currentLang.securityTitle }}</h4>
        <p [innerHTML]="currentLang.securityText"></p>
  
        <h4>{{ currentLang.accessTitle }}</h4>
        <p [innerHTML]="currentLang.accessText"></p>
  
        <h4>{{ currentLang.marketingTitle }}</h4>
        <p>{{ currentLang.marketingText1 }}</p>
        <p>{{ currentLang.marketingText2 }}</p>
  
        <h4>{{ currentLang.cookiesTitle }}</h4>
        <p [innerHTML]="currentLang.cookiesText"></p>
  
        <h4>{{ currentLang.retentionTitle }}</h4>
        <p [innerHTML]="currentLang.retentionText"></p>
  
        <h4>{{ currentLang.updatesTitle }}</h4>
        <p>{{ currentLang.updatesText }}</p>
  
        <h4>{{ currentLang.contactTitle }}</h4>
        <p [innerHTML]="currentLang.contactText"></p>
        <p>{{ currentLang.definition }}</p>
      </div>
    </div>
  </div>