<!-- <section class="lets-talk-area ptb-100">
    <div class="container">
      <h1>{{ 'lets_talk' | translate }}</h1>
      <div *ngFor="let msg of messages">
        <strong>{{ msg.sender }}:</strong> {{ msg.text }}
      </div>
      <input [(ngModel)]="question" placeholder="Tapez votre question..." />
      <button (click)="send()">Envoyer</button>
    </div>
  </section> -->
  <!-- <h1>💬 Discutez avec Kimi</h1> -->
  <!-- <app-chat-kimi></app-chat-kimi> -->


  <!-- <h2>Discutons</h2>
  <app-chat-kimi></app-chat-kimi> -->
  
  <app-chat-kimi></app-chat-kimi>
