
<div
  class="quotes-area dotted-bg bg-color bg-fbecd7"
  [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/about'}"
>
  <div class="container">
    <div class="quotes-inner-box dotted-bg bg-f4d9d3">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12">
          <div class="quotes-image">
            <img [src]="currentLang.imgSrc" [alt]="currentLang.imgAlt">
          </div>
        </div>

        <div class="col-lg-8 col-md-12">
          <div class="quotes-content">
            <i class="flaticon-quotes"></i>
            <section class="testimonial-area">
              <blockquote>
                <p>{{ currentLang.quote }}</p>
                <footer>
                  <strong>{{ currentLang.author }}</strong><br>
                  <span>{{ currentLang.role }}</span>
                </footer>
              </blockquote>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>