@import "../../common/blog/blog.component.scss";
// .excerpt {
//     display: -webkit-box;
//     -webkit-line-clamp: 2; /* max 2 lignes */
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
  
//   .excerpt.collapsed {
//     -webkit-line-clamp: unset; /* supprime la limite quand showFull = true */
//   }
  