
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
      <div class="page-banner-content">
        <h1>{{ currentLang.pageTitle }}</h1>
        <ul class="meta">
          <li><a routerLink="/">{{ currentLang.home }}</a></li>
          <li>{{ currentLang.pageTitle }}</li>
        </ul>
      </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1" /></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2" /></div>
  </div>
  
  <div class="team-area dotted-bg pb-75 pt-100">
    <div class="container">
      <div class="section-title">
        <h2>{{ currentLang.leadershipTitle }}</h2>
        <p>{{ currentLang.leadershipDesc }}</p>
      </div>
      <div class="row justify-content-center">
        <div
          class="col-lg-3 col-sm-6 col-6"
          *ngFor="let member of leadership"
        >
          <div class="team-card text-center mb-25">
            <img [src]="member.image" alt="member-image" />
            <div class="team-caption">
              <h4>{{ member.name }}</h4>
              <span>{{ member.role }}</span>
              <ul class="social-links">
                <li *ngFor="let link of member.links">
                  <a [href]="link.url" target="_blank">
                    <i [class]="'bx ' + link.icon"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="team-area dotted-bg pb-75">
    <div class="container">
      <div class="section-title">
        <h2>{{ currentLang.teamTitle }}</h2>
        <p>{{ currentLang.teamDesc }}</p>
      </div>
      <div class="row justify-content-center">
        <div
          class="col-xl-2 col-lg-3 col-sm-4 col-6"
          *ngFor="let member of team"
        >
          <div class="single-team-member mb-25">
            <div class="image">
              <div [style.background-image]="'url(' + member.image + ')'"></div>
            </div>
            <div class="content">
              <h4>{{ member.name }}</h4>
              <span>{{ member.role }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>