
 <div class="about-area ptb-100 dotted-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="about-image">
            <img src="assets/images/expertise.jpg" alt="{{ currentLang.imgAlt }}">
          </div>
        </div>
  
        <div class="col-lg-6 col-md-12">
          <div class="about-content">
            <span class="sub-title main-color">{{ currentLang.subTitle }}</span>
            <h2>{{ currentLang.title }}</h2>
            <p>{{ currentLang.description }}</p>
  
            <ul class="features-list">
              <li>
                <div class="icon main-color">
                  <i class="flaticon-boost"></i>
                </div>
                <h4>{{ currentLang.boostTitle }}</h4>
                <p>{{ currentLang.boostText }}</p>
              </li>
  
              <li>
                <div class="icon main-color">
                  <i class="flaticon-business-idea"></i>
                </div>
                <h4>{{ currentLang.ideaTitle }}</h4>
                <p>{{ currentLang.ideaText }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>