
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
      <div class="page-banner-content">
        <h1>{{ currentLang.pageTitle }}</h1>
        <ul class="meta">
          <li><a routerLink="/">{{ currentLang.home }}</a></li>
          <li>{{ currentLang.pageTitle }}</li>
        </ul>
      </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1" /></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2" /></div>
  </div>
  
  <div class="faq-area ptb-100 dotted-bg">
    <div class="container">
      <div class="faq-accordion">
        <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
          <accordion-group
            *ngFor="let q of currentLang.questions; let i = index"
            [heading]="q.title"
            [isOpen]="i === 0 && isFirstOpen"
          >
            <p [innerHTML]="q.answer"></p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>