
<div
  class="feedback-area bg-color dotted-bg bg-fbecd7"
  [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4'}"
>
  <section class="feedback-area">
    <div class="container">
      <div class="feedback-inner-box dotted-bg bg-f4d9d3">
        <owl-carousel-o [options]="feedbackSlides">
          <ng-template carouselSlide *ngFor="let slide of currentLang.slides">
            <i class="flaticon-quotes"></i>
            <p>{{ slide.quote }}</p>
            <div class="client-info">
              <h4>{{ slide.name }}</h4>
              <span>{{ slide.role }}</span>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </section>
</div>