
<div
  class="team-area dotted-bg pb-75"
  [ngClass]="{'d-none': router.url === '/index-4'}"
>
  <div class="container">
    <div class="section-title">
      <span class="sub-title main-color">{{ currentLang.subTitle }}</span>
      <h2>{{ currentLang.heading }}</h2>
      <p>{{ currentLang.description }}</p>
    </div>

    <div class="row justify-content-center">
      <div
        class="col-lg-3 col-sm-6 col-6"
        *ngFor="let member of currentLang.team"
      >
        <div class="team-card text-center mb-25">
          <img [src]="member.img" [alt]="member.alt" />
          <div class="team-caption">
            <h4>{{ member.name }}</h4>
            <span>{{ member.role }}</span>
            <ul class="social-links">
              <li *ngFor="let soc of member.social">
                <a [href]="soc.url" target="_blank" rel="noopener">
                  <i [class]="soc.icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="team-area dotted-bg pb-75 d-none"
  [ngClass]="{'d-block': router.url === '/index-4'}"
>
  <div class="container">
    <div class="section-title">
      <h2>{{ currentLang.heading4 }}</h2>
      <p>{{ currentLang.description4 }}</p>
    </div>

    <div class="row justify-content-center">
      <div
        class="col-xl-2 col-lg-3 col-sm-4 col-6"
        *ngFor="let m of currentLang.team4"
      >
        <div class="single-team-member mb-25">
          <div class="image">
            <div [style.background-image]="'url(' + m.img + ')'"></div>
          </div>
          <div class="content">
            <h4>{{ m.name }}</h4>
            <span>{{ m.role }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>